# Node.js
node_modules/
dist/
.cache/

# Python (caso use no mesmo projeto)
.venv/
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Design (se não for essencial)
design/